<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mazer Admin Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/mazer/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/mazer/assets/vendors/iconly/bold.css">
    <link rel="stylesheet" href="/mazer/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/mazer/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/mazer/assets/css/app.css">
    <link rel="stylesheet" href="/mazer/assets/css/pages/auth.css">
    <link rel="shortcut icon" href="/mazer/assets/images/favicon.svg" type="image/x-icon">
</head>
<body>
    <% if (isAuth) { %>
        <div id="auth">
            <%- body %>
        </div>
    <% } else { %>
        <div id="app">
            <%- include('../components/dashboard/sidebar.ejs') %>
            <div id="main">
                <%- include('../components/dashboard/header.ejs') %>
                    <%- body %>     
                <%- include('../components/dashboard/footer.ejs') %>
            </div>
        </div>
    <% } %>
    <script src="/mazer/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/mazer/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/mazer/assets/js/main.js"></script>
    <% if (!isAuth) { %>
        <script src="/mazer/assets/vendors/apexcharts/apexcharts.js"></script>
        <script src="/mazer/assets/js/pages/dashboard.js"></script>
    <% } %>
</body>
</html>